* {
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
  }
  body {
    width: 100vw;
    min-height: 100vh;
  }
  #container {
    width: 100%;
    min-height: 100vh;
    position: relative;
  }
  img {
    position: absolute;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  }
  
  .test-image {
    left: 10%;
    top: 25%;
  }

  #container img {
    object-fit: cover;
  }
